@model ProyectoKanban.Models.UsuariosListadoViewModel
@{
    ViewData["Title"] = "Listado de usuarios";
}

<h1>Listado de usuarios</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

@if (!string.IsNullOrEmpty(Model.Mensaje))
{
    <div class="alert alert-success" role="alert">
        @Model.Mensaje
    </div>
}

@if (Model.Usuarios?.Count > 0)
{
    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    @if (User.IsInRole("admin"))
                    {
                        <th>Acción</th>
                    }
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
    @foreach (var usuario in Model.Usuarios)
{
    <tr>
        @if (User.IsInRole("admin"))
        {
            <td>
                @if (!usuario.EsAdmin)
                {
                    <button class="btn btn-primary me-2" asp-action="HacerAdmin" asp-route-email="@usuario.Email">Hacer Admin</button>
                }

                @if (usuario.EsAdmin && usuario.Email != User.Identity.Name)
                {
                    <button class="btn btn-secondary me-2" asp-action="RemoverAdmin" asp-route-email="@usuario.Email">Remover Admin</button>
                }

                @if (usuario.Email != User.Identity.Name)
                {
                    <button class="btn btn-danger" asp-action="EliminarUsuario" asp-route-email="@usuario.Email">Eliminar</button>
                }
            </td>
        }
        <td>@usuario.Email @(usuario.EsAdmin ? "(admin)" : "")</td>
    </tr>
}
</tbody>

        </table>
    </form>
}
else
{
    <p>No hay usuarios para mostrar</p>
}
